@model IEnumerable<EventStore.Models.Event>

<div id="searchresults">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.EventName, "Details", new { id = item.EventId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>   
            </tr>
        }
    </table>
</div>